<div class="pagebody">
	<center><div class="header">
    	<h1><a href="#">Inc Real</a></h1>
    </div></center>
    
    <!-- 画像の上で移動 -->
    <div id="myDiv">
    	<!-- <div id="backgroundDiv" style="background:url('./bg.png');position:absolute;top:250px;left:250px;width:640px;height:400;"></div> backgroundDiv-->
        <div id="targetDiv" style="position:absolute;width:126px;height:47px;"><img src="../assets/sarry-re2.png"></div><!--targetDiv-->               
	</div><!--myDiv-->
            
	<div class="nav">
    	<ul>
	    	<li><a href="#" >News</a></li>
	        <li id="now"><a href="#" >Beauty</a></li>
	        <li><a href="#" >Hobby</a></li>
	        <li><a href="#" >IT</a></li>
	        <li><a href="#" >Column</a></li>
        </ul>
    </div>
    <div class="twocol">
    	<div class="section">
        	<div class="main">
            	<h2>HOME</h2>
                <p>本文...</p>
                <div class="article">
                	<h3>進歩状況</h3>
                    <p><string>5/31：</string>これまでに作っていたホームページのプログラムをrailsにはめ込むことができた。
                    	さらにアクションやテンプレートの繋がりを理解することにより、HOMEでの画像の表示に成功する。</p>
                    <p>課題はファイル名を自動に所得できるようにするか、ファイル名を自動で1.2.3...と続くようなファイル名に変換すること。
                    	これができないとビューワーにならない。後者の場合、ファイル数をじどうでかぞえてくれるようにしないといけない。
                    	railsでのリンクの飛ばし方を学習する。
                    <p><string>6/4 :</string>上の課題は解決できた。現在行っているのは複数個のファイルを同時にアップロードすること</p>
                	<p><string>6/5 :</string>複数個のファイルをアップロードできたが、その後の完了画面がうまくいかない</p>
                	<p><string>6/4 :　　　　　　　　　　　　　　　　　　　　　　                                   </string>画像のグループ分け、閲覧数による表示の優先度、個人のフォルダ、公開フォルダなどを作る、
                		画像幅が違うものがうまく表示されない、ブラウザの幅が違うと表示されない</p>
                	
                </div>    
            </div>
        </div>
        <div class="aside side1">
        	<h2>最新記事</h2>
            	<ul>
                	<li><a href="#">はじめました</a></li>
                    <li><a href="#">はじめました</a></li>
                    <li><a href="#">はじめました</a></li>
                </ul>
                <h2>人気記事</h2>
                    <ul>
                        <li><a href="#">はじめました</a></li>
                        <li><a href="#">はじめました</a></li>
                        <li><a href="#">はじめました</a></li>
                        
                    </ul>
                <div class="ad">
                    <a href="#"></a>
                </div>
                <a href="./upload">アップロード</a><br>    
				<a href="./viewer">  ギャラリー</a>
        </div>
    </div>
    <div class="aside side2">
    	<div class="ad"><a href="#"><img src="../assets/icon.jpg" alt=""></a></div>
        	<h2>今週のピックアップ</h2>
            <ul>
            	<li><a href="#">IT</a></li>
                <li><a href="#">BIKE</a></li>
                <li><a href="#">CAR</a></li>
            </ul>
        </div>
    <div class="footer">
    	<address>Copy Right SAKASUKE <a href="#">Inc Real</a></address><br>
    	<center>        	
			<% for i in 0..2%>
				<%= image_tag '' + @rand[i] + '.jpg' , :width => 4592*0.09, :height => 3056*0.09 %>
			<% end %>
		</center><br />
	
		<center>
			<% for i in 3..6%>
				<%= image_tag '' + @rand[i] + '.jpg' , :width => 4592/15, :height => 3056/15 %>
			<% end %>
		</center><br />
    </div>
</div>



